/*
	Ignore my weird comment style; this is just here to
	explain things to those curious enough to check this file.
	This'll be removed in production.
*/

/*
	Taking a risk and hoping this doesn't make shit look weird.
	- `margin: 0 2.5px` cuz commas after <code> tags look bad.
	- `display: inline-block` to disallow it from
		cutting off in the middle of one line
		and then continuing on the next.
*/
.markdown-body code {
	background-color: #F0F0F0;
	display: inline-block;
	padding: 0;
	margin: 2.5px;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

/* `line-height` so that inline <code> tags from different lines don't touch each other. */
.markdown-body p {
	line-height: 150%;
}

/* change from purple to red */
.token.boolean, .token.constant, .token.deleted, .token.number,
.token.property, .token.symbol, .token.tag {
	color: #CF3838;
}

/* replicate border style w/ box-shadow cuz docute has stupid dropdown menu CSS */
.nav-list .nav-item-dropdown .dropdown-list {
	border-width: 0;
	box-shadow: 0 0 1px 1px #E2E2E2;
}