/* body */
body {
	transition: all 0.2s ease-in-out;
	transition-property: color, background-color;
}

/* container width */
.markdown-section {
	max-width: 1000px;
}

/* sidebar */
.sidebar {
	bottom: 41px;
	padding: 30px 0 0;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	transition: all 0.2s ease-in-out;
	transition-property: color, background-color, transform;
}

.sidebar-toggle {
	color: #42b983;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 150px;
	padding: 12px 10px 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	text-align: left;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	transition-property: color, background-color;
}

.sidebar ul li a {
	transition: color 0.2s ease-in-out;
}

.sidebar-toggle i {
	width: 100%;
	font-size: 16px;
	transition: opacity 0.2s ease-in-out;
}

.sidebar-toggle:hover i {
	opacity: 0.5;
}

#theme-toggle-button {
	left: 150px;
	text-align: right;	
}

body.close #theme-toggle-button {
	left: 37px;
}

@media screen and (max-width: 768px) {
	.sidebar-toggle {
		width: auto;
	}
	
	body.close .sidebar-toggle {
		background-color: inherit;
		width: 150px;
		transition: none;
	}

	body #theme-toggle-button {
		left: 37px;
	}

	body.close #theme-toggle-button {
		left: 150px;
	}
}

/* regular text blocks */
.markdown-section p {
	line-height: 170%;
}

/* markdown stylings */
.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong,
.anchor span,
.markdown-section p.warning em,
.markdown-section p.danger em {
	transition: color 0.2s ease-in-out;
}

/* tables */
.markdown-section tr:nth-child(2n) {
	transition: background-color 0.2s ease-in-out;
}

.markdown-section td,
.markdown-section th {
	transition: border-color 0.2s ease-in-out;
}

/* lists */
.markdown-section ul li,
.markdown-section ol li {
	margin: 0.25em 0;
}

/* codeblocks and inline code */
.markdown-section pre {
	padding: 1em;
	margin: 1em 0;
	line-height: 125%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
	transition-property: color, background-color;
}

.markdown-section code {
	background-color: #efefef;
}

.markdown-section pre > code {
	padding: 0;
	line-height: 150%;
}

.markdown-section pre > code,
.markdown-section code {
	font-size: 0.8rem;
	font-family: 'Droid Sans Mono', monospace;
	transition: all 0.2s ease-in-out;
	transition-property: color, background-color;
}

/* syntax highlighting */
.token.boolean, .token.constant, .token.deleted, .token.number,
.token.property, .token.symbol, .token.tag {
	color: #da3b3b;
	transition: color 0.2s ease-in-out;
}

.token.deleted {
	text-decoration: none;
}

.token.inserted {
	color: #42b983;
	border-width: 0;
	transition: color 0.2s ease-in-out;
}

/* helper classes */
.markdown-section p.warning,
.markdown-section p.danger {
	border-bottom-right-radius: 2px;
	border-width: 0 0 0 4px;
	border-style: solid;
	border-top-right-radius: 2px;
	margin: 2em 0;
	padding: 12px 24px 12px 30px;
	position: relative;
}

.markdown-section p.tip {
	border-color: #42b983;
	transition: background-color 0.2s ease-in-out;
}

.markdown-section p.danger {
	border-color: #f66;
}

.markdown-section p.warning {
	border-color: #f7d24c;
}

.markdown-section p.warning code,
.markdown-section p.danger code {
	background-color: #efefef;
	transition: background-color 0.2s ease-in-out;
}

.markdown-section p.warning em,
.markdown-section p.danger em {
	color: #34495e;
	transition: color 0.2s ease-in-out;
}

.markdown-section p.warning::before,
.markdown-section p.danger::before {
	border-radius: 100%;
	color: #fff;
	content: '!';
	font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -12px;
	line-height: 20px;
	position: absolute;
	width: 20px;
	height: 20px;
	text-align: center;
	top: 14px;
}

.markdown-section p.tip::before {
	background-color: #42b983;
	transition: background-color 0.2s ease-in-out;
}

.markdown-section p.warning::before {
	background-color: #f7d24c;
	transition: background-color 0.2s ease-in-out;
}

.markdown-section p.danger::before {
	background-color: #f66;
	transition: background-color 0.2s ease-in-out;
}

/* octocat */
.octo-body,
.octo-arm {
	transition: color 0.2s ease-in-out;
}

/* Discord message component */
.discord-messages {
	background-color: #f7f7f7;
	padding: 0.1em 0.5em;
	line-height: 170%;
	border: 1px solid #dedede;
	transition: all 0.2s ease-in-out;
}

.discord-messages .discord-message {
	display: flex;
	font-family: 'Roboto', sans-serif;
	padding: 1em 0.5em;
	border-bottom: 1px solid #eceeef;
	transition: border-color 0.2s ease-in-out;
}

.discord-messages .discord-message:last-of-type {
	border-bottom-width: 0;
}

.discord-message a {
	color: #00b0f4;
	font-weight: normal;
	text-decoration: none;
}

.discord-message a:hover {
	text-decoration: underline;
}

.discord-message .author-avatar {
	margin-right: 1rem;
	min-width: 40px;
}

.discord-message .author-avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.discord-message .author-header {
	display: flex;
	align-items: center;
}

.discord-message .author-header .author-username {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.discord-message .author-header .bot-tag {
	color: #fff;
	background-color: #7289da;
	font-size: 0.65em;
	margin-left: 5px;
	padding: 3px;
	border-radius: 3px;
	line-height: 100%;
	text-transform: uppercase;
}

.discord-message .message-body {
	font-size: 0.9em;
	letter-spacing: 0.5px
}

.discord-message .discord-mention {
	color: #7289da;
	background-color: rgba(114, 137, 218, 0.1);
	font-weight: 500;
	padding: 0 1px;
	cursor: pointer;
}

.discord-message .discord-mention:hover {
	color: #fff;
	background-color: rgba(114, 137, 218, 0.7);
}
