.home {
	padding: 4rem 0 0;
	max-width: unset;

	.hero {
		background-color: var(--blurple-500);
		padding: 2rem 0;

		img {
			margin: 0 auto;
		}

		.description {
			color: var(--text-gray);
			max-width: unset;
		}
	}

	.theme-default-content {
		max-width: 960px;
		margin: 0 auto;
		padding: 0 2rem;
	}
}
