@import './theme-variables.scss';
@import './layout.scss';
@import './navbar.scss';
@import './search.scss';
@import './sidebar.scss';
@import './home.scss';
@import './content.scss';
@import './custom-blocks.scss';
@import './mixins/scrollbar.scss';

html {
	@include customScrollbar(false);
}

html, body {
	transition: none;
}

h2 {
	padding-bottom: 0;
	border-bottom: 0;
}

.theme-default-content:not(.custom) a:hover {
	text-decoration: underline;
}

div[class*=language-].line-numbers-mode::after {
	border-right-color: rgba(#000, 0.25);
}

.theme-container {
	.fade-slide-y-enter-active {
		transition: all 0.2s ease;
	}

	.fade-slide-y-leave-active {
		transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
	}

	.page {
		.page-meta .meta-item {
			&.edit-link .meta-item-label {
				color: var(--c-text-accent);
			}

			&.last-updated .meta-item-label {
				color: var(--c-brand);
			}
		}
	}
}

#nprogress {
	.bar {
		--nprogress-color: var(--c-brand-light);
		height: 0.375rem !important;

		.peg {
			box-shadow: none;
		}
	}
}

.discord-messages {
	border-radius: 0.375rem;

	.discord-message .discord-message-content .discord-markdown-content > code {
		color: inherit;
		font-size: 0.9em;
		padding: 0.2em;
	}
}
