@import './palette.scss';
@import './navbar.scss';
@import './search.scss';
@import './sidebar.scss';
@import './home.scss';
@import './content.scss';
@import './mixins/scrollbar.scss';

html {
	@include customScrollbar(false);
}

h2 {
	padding-bottom: 0;
	border-bottom: 0;
}

.custom-container.danger,
details.custom-container.details,
.custom-container.tip,
.custom-container.warning {
	overflow-wrap: break-word;
}

.custom-container.danger,
details.custom-container.details,
.custom-container.tip,
.custom-container.warning {
	border-radius: 6px;
}
