// @parent-theme/components/SearchBox.vue
.navbar .links .search-box input {
	cursor: pointer;
	width: 0;
	padding-right: 0.2rem;

	&:focus {
		cursor: auto;
		width: 10rem;
		padding-right: 0.5rem;
	}
}

@media screen and (max-width: $MQMobile) {
	// so that the branch selector doesn't overlap the book icon much
	.navbar .links {
		padding-left: 0.25rem !important;
	}
}
