@mixin customScrollbar($thin: true) {
	@if $thin {
		scrollbar-width: thin;
	}
	scrollbar-color: $blurple460 #eaeaea;

	@media (prefers-color-scheme: dark) {
		scroll-color: $blurple460 #1d1d1d;

		&::-webkit-scrollbar-track {
			background-color: #1d1d1d;
		}
	}

	&::-webkit-scrollbar {
		@if $thin {
			width: 8px;
			height: 8px;
		} @else {
			width: 17px;
			height: 17px;
		}
	}

	&::-webkit-scrollbar-thumb {
		background-color: $blurple460;

		&:hover {
			background-color: $blurple430
		}
	}

	&::-webkit-scrollbar-track {
		background-color: #eaeaea;
	}
}
