@mixin navLink() {
	color: var(--text-gray);
	font-size: 1em;
	margin: 0;
	padding: 14px 12px;
	border-width: 0;
	border-radius: 6px;

	&:hover,
	&.router-link-active:hover {
		color: var(--text-gray);
		background-color: var(--blurple-630);
	}

	&.router-link-active {
		background-color: var(--blurple-600);
	}
}

.navbar {
	background-color: var(--blurple-560);
	display: flex;
	align-items: center;
	height: 4rem;
	font-size: 14px;
	padding: 0.5rem 4.15rem;
	border-width: 0;

	@media screen and (max-width: 719px) {
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.toggle-sidebar-button {
		@include navLink();
		position: unset;
		top: unset;
		left: unset;
		margin-right: 1rem;

		@media screen and (max-width: 719px) {
			margin-right: 0;
		}
	}

	.toggle-dark-button {
		@include navLink();
		margin-left: 1rem;

		@media screen and (max-width: 719px) {
			margin-left: 0;
		}
	}

	.site-name {
		font-size: 1em;
		color: var(--text-gray);
	}

	a {
		@include navLink();

		.icon.outbound {
			color: var(--text-gray);
		}
	}

	.navbar-links-wrapper {
		background-color: var(--blurple-560);
		display: flex;
		align-items: center;
		position: relative;
		right: 0;
		top: 0;
		padding-left: 0;

		.navbar-links {
			.navbar-links-item {
				margin-left: 2rem;

				a {
					@include navLink();
				}
			}
		}
	}
}
