// code blocks
$codeLang: 'html' 'js' 'json' 'md' 'sh' 'ts';

// base colors
:root {
	// Discord colors
	--blurple-430: #707bf4;
	--blurple-460: #6571f3;
	--blurple-500: #5865f2;
	--blurple-530: #505cdc;
	--blurple-560: #4752c4;
	--blurple-600: #3c45a5;
	--blurple-630: #343b8f;

	--text-gray: #e5e7eb;
	--c-headers: #111827;

	// Overrides:

	// brand colors
	--c-brand: var(--blurple-560);

	// text colors
	--c-text: #374151;

	// custom container colors
	--c-tip: #42b983;
	--c-tip-bg: #e2f5ec;
	--c-tip-text: #215d42;
	--c-tip-title: #359469;
	--c-warning: #e7c000;
	--c-warning-bg: rgba(255, 229, 100, 0.25);
	--c-warning-text: #6b5900;
	--c-warning-title: #b29400;
	--c-danger: #c00;
	--c-danger-bg: #ffe0e0;
	--c-danger-text: #600;
	--c-danger-title: #c00;

	// code blocks
	--code-hl-bg-color: #353b45;

	// font
	--font-family: system-ui, -apple-system, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

	// layout
	--content-width: 920px;
}

html.dark {
	--c-headers: #fff;
	--c-bg-scrollbar: var(--c-bg);

	// Overrides:

	// brand colors
	--c-brand: var(--blurple-560);

	// background colors
	--c-bg: #1d1d1d;
	--c-bg-sidebar: #191919;

	// text colors
	--c-text: #9ca3af;

	// custom container colors
	--c-tip: #42b983;
	--c-tip-bg: rgba(66, 185, 131, 0.25);
	--c-tip-text: #a0ddc1;
	--c-tip-title: #66c99c;
	--c-warning: #e7c000;
	--c-warning-bg: rgba(255, 229, 100, 0.25);
	--c-warning-text: #ffefa2;
	--c-warning-title: #ffd91d;
	--c-danger: #f66;
	--c-danger-bg: rgba(204, 0, 0, 0.25);
	--c-danger-text: #f66;
	--c-danger-title: #ff2929;

	// code blocks
	--code-hl-bg-color: #353b45;
}
