// Discord colors
$blurple500: #5865f2;
$blurple530: #505cdc;
$blurple560: #4752c4;
$blurple600: #3c45a5;
$blurple630: #343b8f;

$textGray: #e5e7eb;

// base colors
$accentColor: $blurple560;
$textColor: #374151;
$tipColor: $blurple560;

// layout
$contentWidth: 920px;

// code blocks
$codeBgColor: #282c34;
$highlightLineBgColor: #353b45;
$codeLang: 'html' 'js' 'json' 'md' 'sh' 'ts';
