@import './mixins/scrollbar.scss';

.sidebar {
	--c-bg-scrollbar: #ededed;

	top: 4rem;
	font-size: 14px;
	border-right-width: 0;
	@include customScrollbar();

	@media (max-width: 719px) {
		top: 0;
		padding-top: 4rem;
	}

	.navbar-links {
		@media screen and (max-width: 719px) {
			padding: 0.5rem;
		}
	}

	& > .sidebar-links {
		padding: 1.25rem 0.5rem;

		@media screen and (max-width: 719px) {
			padding: 0.5rem;
		}

		.sidebar-group {
			.sidebar-heading {
				font-size: 1em;
				font-weight: 700;
				text-transform: uppercase;
			}

			.sidebar-link {
				border-radius: 2px 0 0 2px;

				&.active {
					color: var(--blurple-530);
					border-left-width: 4px;
					border-left-color: var(--blurple-530);
				}

				&:hover,
				&.active:hover {
					color: var(--blurple-500);
					border-left-color: var(--blurple-500);
				}
			}
		}
	}
}

html.dark .sidebar {
	--c-bg-scrollbar: #171717;
}
